
  <div class="bg" [style.transform]="'scale(' + bgScale + ')'">
  </div>

  <mgl-map
    class="map"
    [zoom]="[2.4]"
    [center]="[0, 0]"
    [canvasContextAttributes]="{ preserveDrawingBuffer: true }"
    [projection]="{ type: 'globe' }"
    [style]="customStyle"
    (mapLoad)="onMapLoad($event)">
    @for(attraction of attractions; track attraction.id){
      <mgl-marker
        [lngLat]="[attraction.longitude,attraction.latitude]"
        [anchor]="'bottom'"          
        [offset]="[0, 5]"           
        [draggable]="false" 
        [opacity]="'1'"
      [opacityWhenCovered]="'0'"
        
      >
      <div (click)="selectAttraction(attraction.id)" >
        <img src="marker.png" class="marker" />
      </div>
      </mgl-marker>
  
          }
    <mgl-control class="map-switch" mglGlobe position="top-right"></mgl-control>
  </mgl-map>
