

    <section class="popup" [class.open]="isOpen" [class.dont-exist]="dontExist">
        <div class="popup-header">
            <h2>{{attraction?.title}}</h2>
            <button class="close-btn" (click)="close()">x</button>
        </div>
        <div class="popup-content">
            <img [src]="attraction?.image" [alt]="attraction?.title" class="popup-image">
            <p class="bold">Localisation :</p>
            <p>{{attraction?.city}} - <span class="country">{{attraction?.country}}</span></p>
            <button type="button" class="btn" (click)="toggle()">
                {{ isOpen ? 'Réduire' : 'Plus d\'infos' }}
            </button>
        </div>
        <div class="more-info">
            <h3 class="bold">Plus d'infos</h3>
            <p>{{attraction?.description}}</p>
        </div>
    </section>

