<div class="sidebar" [class.open]="isOpen">

    <div class="sidebar-logo" (click)="switchOpen()">
        <img src="/logo.png" alt="" class="logo">
        @if (!isOpen){<p class="arrow"> &#171;</p>}
    </div>

    <div class="sidebar-content" [class.visible]="isOpen">

        <div class="sidebar-header">
            <h2>Où allons-nous ?</h2>
        </div>

        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
            <div class="search-container">
                <div class="searchbar">
                    <input formControlName="city" type="text" class="sidebar-search" placeholder="Recherche de lieu…" />
                    <button type="submit" class="search-btn"><img src="/search.svg" alt=""></button>
                </div>
                @if (isFieldInvalid('city')) {
                <div class="error">
                    {{ getFieldError('city') }}
                </div>
                }
            </div>
        </form>

        <button class="sidebar-btn monument-btn" [class.selected]="onlyMonuments" (click)="onToggleMonuments()">
            {{ onlyMonuments ? 'Tous voir' : 'Voir les monuments' }}
        </button>

        <button class="sidebar-btn" (click)="selectRandom()">
            Destination aléatoire
        </button>

        <div class="sidebar-footer">
            <p>&copy; 2025 GaiaGo</p>
            <a href="">Mentions légales</a>
            <a href="">Contact</a>
            <a href="https://github.com/GuillaumeLoriot/GaiaGo" target="_blank" rel="noopener noreferrer">Git Hub</a>
        </div>
    </div>

</div>